@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --foreground-end-rgb: 255, 255, 255;
}

/* Scrollbar begin */

:root {
  --scroll-bar-color: #ccc;
  --scroll-bar-bg-color: #eee;
  --dark-scroll-bar-color: #717077;
  --dark-scroll-bar-bg-color: #393a3d;
}

.dark {
  --scroll-bar-color: var(--dark-scroll-bar-color);
  --scroll-bar-bg-color: var(--dark-scroll-bar-bg-color);
}

::-webkit-scrollbar-corner { background: rgba(0,0,0,0.5); }

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
  border-radius: 20px;
  border: 3px solid var(--scroll-bar-bg-color);
}

/* Scrollbar end */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --foreground-end-rgb: 0, 0, 0;
  }
}

body {
  width: 100vw;
  color: rgb(var(--foreground-rgb));
}

.underline-animated {
  @apply relative before:content-[''] before:absolute before:block before:w-full before:h-[1px] 
          before:bottom-0 before:left-0 before:bg-blue-700 before:dark:bg-blue-200
          before:hover:scale-x-100 before:scale-x-0 before:origin-top-left
          before:transition before:ease-in-out before:duration-200
}

.hero {
  @apply w-full mb-12 pt-32 pb-12 duration-200 text-gray-800 dark:text-gray-100 bleed-bg;
}

.eggspress-content {
  @apply prose max-w-none lg:max-w-prose dark:prose-invert prose-h1:font-bold prose-blockquote:not-italic prose-blockquote:font-normal -mt-2 mb-20 prose-pre:bg-gray-100 prose-pre:text-gray-700 prose-pre:dark:bg-gray-700 prose-pre:dark:text-gray-200 prose-code:bg-gray-100 prose-code:dark:bg-gray-700 prose-code:rounded-sm;
}

p > code {
  @apply px-1 border-y-2;
}

.sidebar-section {
  @apply text-sm mb-8;
}

.sidebar-heading {
  @apply mb-1.5 font-medium;
}

.sidebar-body {
  @apply leading-relaxed font-light my-2;
}

.dropdown-item {
  @apply duration-200 select-none cursor-pointer rounded hover:bg-gray-300/10 dark:hover:bg-gray-200/10 px-3 py-1;
}

h2:not(#hero-subtitle)::before, h3::before, h4:not(.sidebar-heading)::before, h5::before { 
  display: block; 
  content: " "; 
  margin-top: -58px; 
  height: 58px; 
  visibility: hidden; 
  pointer-events: none;
}
